---
layout: default
# The home page layout
---
<div class="row h-100">
    <div class="post pl-2 pr-1 h-100 d-flex flex-column justify-content-center">
        <h1 class="text-uppercase display-3 font-weight-bold mb-0">Hamza <span class="text --accent">Nouinou</span></h1>
        <a href="mailto:nouinouhamza@gmail.com"
           class="text-uppercase h4 text --accent font-weight-bold">nouinouhamza@gmail.com</a>
        <br>
        <h3>I'm a Javascript web developer. I work on MEAN full-stack web applications.</h3>
        <div>
            <div class="display-4 mt-3 d-flex justify-content-start align-items-center">
                <a href="https://github.com/{{ site.github.username }}"
                   aria-label="github"
                   target="_blank"
                   rel="noopener"
                   class="mr-3">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://linkedin.com/in/{{ site.linkedin.username }}"
                   aria-label="linkedin"
                   target="_blank"
                   rel="noopener">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
